{% extends 'admin/my_master.html' %}
{%block body%}
<style>
   table.list-ticket img{
       height: 40px;
    }
   span.color{
    padding-left: 20px;
    border: 1px solid black;
   }
   list-ticket-container{
      height: 500px;
      OVERFLOW-Y: hidden;
   }
</style>
<div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                           <label >Nơi Đi</label>
                           <select class="form-control" required name="From" id="from">
                               <option value="">Select a location...</option>
                                       {% for tt in tinhThanh %}

                                       <option value="{{tt.id}}">{{tt.tenTinhThanh}}</option>
                                       {% endfor %}
                                    </select>
                                 </div>
                                 <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                    <label >Nơi Đến</label>
                                    <select class="form-control" required name="To" id="to">
                                       <option value="">Select a destination...</option>
                                       {% for tt in tinhThanh %}
                                          <option value="{{tt.id}}">{{tt.tenTinhThanh}}</option>
                                       {%endfor%}
                                    </select>
                                 </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                    <label >Ngày Giờ Khởi Hành:</label>
                                    <input class="form-control" placeholder="Any" type="datetime-local" name="date" id="date">
                                 </div>
                                <div class="col-4">
                                    <button class="btn btn-info mt-3" onclick="findDataFlight()">Tìm Chuyến Bay</button>
                                </div>
                        </div>
                    </div>
                             <div class="col-12 mt-2 mb-5">
                                    <div class="row">
                                    <div class="col-6">
                                         <label >Chuyến Bay</label>
                                            <select class="form-control" required name="chuyenBay" id="chuyenBay">
                                                <option value="">Select a location...</option>
                                            </select>
                                    </div>
                                        <div class="col-3">
                                          <label >Hạng Ghế</label>
                                            <select class="form-control" required name="hangGhe" id="type">
                                                <option value="">Chọn Hạng Ghế</option>
                                                <option value="VIP">VIP</option>
                                                <option value="Normal">Normal</option>
                                            </select>
                                    </div>
                                        <div class="col-12">
                                        <button class="btn btn-info mt-3" onclick="getListTicket()" >Tìm kiếm Vé</button>
                                        </div>
                                </div>
                             </div>
                </div>
                    <h1 class="title text-center">Seat</h1>
                    <h3 class="text-center">{{type}} seat diagram</h3>
                    <p class="type"><span class="color bg-secondary mr-3"></span>:was placed</p>
                    <p class="type"><span class="color bg-danger mr-3"></span>:selected</p>
                    <p class="type"><span class="color mr-3"></span>:Not selected yet</p>
                <div class="row">
                    <div class="list-ticket-container col-12 mb-5">
                         <table class="list-ticket mt-4">
                                <tbody id="listTicket">
                                    <tr class="mb-3 mr-3">
                                        <td>1</td>
                                        <td><img id="1" onclick="select_seat(1)" src="{{url_for('static',filename='images/icon-seat.png')}}" alt="" class="img-fluid seat ml-2"></td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>

                </div>
                 <div class="payment_detail">
                     <p class="ticket">Ticket selected:<span id="list_ticket"></span></p>
                    <p >Price: <span id="price">{{price}}</span></p>
                    <p class="total">Total: <span id="amount"></span></p>
                </div>
</div>
<script src="{{ url_for('static', filename='js/api-book-seat.js') }}"></script>
{%endblock%}