    {% extends 'admin/my_master.html' %}
    {% block body %}
    <div class="row">
        <div class="col-8">
              <form method="post">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Flight</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </form>
        </div>
    </div>
    {%endblock%}
