{% extends 'flask-admin/base.html' %}
     {% block user_panel %}
          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
              <img src="{{ url_for('static', filename='images/defaultUserImg.png') }}" class="img-circle elevation-2 bg-light" alt="User Image">
            </div>
            <div class="info">
                <span class="d-block">
                    <a href="#" class="d-block"  data-toggle="modal" data-target="#exampleModalCenter">{{ current_user.name }}</a>
                </span>
            </div>
          </div>
{% endblock user_panel %}