<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <style>
.da-dat {
    background-color: blue;
    color : white;
     cursor: not-allowed!important;
}

.chua-dat {
    background-color: red;
}

.da-chon {
    background-color: coral;
}

.da-chon:hover {
    background-color: coral;
}
 </style>
</head>

<body>
    {%for i in utils.get_list_ticket()%}
        {%if utils.get_ghe_by_id(i.id).trangThai == "Đã Đặt"%}
            <button class="btn da-dat" id="myDIV{{i.id}}" disabled>
                {{utils.get_ghe_by_id(i.id).maGhe}}
            </button>
        {%else%}
            <button class="btn btn-danger" id="myDIV{{i.id}}">
                {{utils.get_ghe_by_id(i.id).maGhe}}
            </button>
             <script>
                   document.getElementById("myDIV{{i.id}}").onclick = function(){
                      document.getElementById("myDIV{{i.id}}").classList.toggle("da-chon");
                      addToCart({{i.id}},'{{utils.get_ghe_by_id(i.id).maGhe}}', {{i.gia}});
                      readDataCart();
                    }
            </script>
        {%endif%}
    {%endfor%}
    <p id="price"></p>
    <p id="total"></p>
<!--    <table>-->
<!--        <tbody>-->
<!--        {%for i in range(10)%}-->
<!--            <tr>-->
<!--                {%for a in range(2)%}-->
<!--                <td><button class="btn btn-danger">A</button></td>-->
<!--                {%endfor%}-->
<!--            </tr>-->
<!--        {%endfor%}-->
<!--        </tbody>-->
<!--    </table>-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/api.js') }}"></script>
</body>

</html>